In [69]:
import pandas as pd
import datetime as dt
from datetime import datetime
import pandas_datareader as pdr 

class ImportarCotizacionesYahoo:

    def __init__(self, start, end, tickers, dicc_tickers):        
        self.start = start
        self.end = end
        self.dicc_tickers = dicc_tickers
        self.tickers = tickers
        self.cotizaciones_de_ticker = pd.DataFrame({})
        self.df_aux = pd.DataFrame({})
        self.cotiz_yahoo = pd.DataFrame({})
        self.dfs = []
        self.nombres = []
        
    def importa(self, start, end):
        
        for (k,v) in dicc_tickers.items():
            self.cotizaciones_de_ticker = pdr.DataReader(k, 'yahoo', start, end)
            self.cotizaciones_de_ticker = self.cotizaciones_de_ticker[["Close"]]
            self.cotizaciones_de_ticker = self.cotizaciones_de_ticker.rename(columns={"Close": v})
            self.dfs.append(self.cotizaciones_de_ticker)

        self.dfs = iter(self.dfs)
        self.df_aux = next(self.dfs)
        for df_ in self.dfs:
            self.df_aux = self.df_aux.merge(df_, on='Date')
    
start = "2000-1-4"
end = date.today()
    
dicc_tickers = {"IBE.MC":"Iberdrola", "TEF.MC":"Telefonica", "R4.MC":"Renta4", "^IBEX":"Ibex35", "^GSPC":"S&P500", 
                "^IXIC":"Nasdaq", "^N225":"Nikkey_225", "^DJI":"DowJons", "^STOXX50E":"Eurostoxx50",   
                "IBE.MC":"Iberdrola", "IBE.MC":"Iberdrola", 'AAPL':"Apple", 'MSFT':"Microsoft", 
                'GOOG':"Google", "AMZN":"Amazon"}
  
tickers = dicc_tickers.keys()

cotizaciones_yahoo = ImportarCotizacionesYahoo(start, end, tickers, dicc_tickers)
print (cotizaciones_yahoo.importa(start, end))

None

In [2]:
import pandas as pd
import pandas_datareader as pdr 
import datetime as dt
from datetime import date

start = "2000-1-4"
end = date.today()
    
dicc_tickers = {"IBE.MC":"Iberdrola", "TEF.MC":"Telefonica", "R4.MC":"Renta4", "^IBEX":"Ibex35", "^GSPC":"S&P500", 
                "^IXIC":"Nasdaq", "^N225":"Nikkey_225", "^DJI":"DowJons", "^STOXX50E":"Eurostoxx50",  
                "IBE.MC":"Iberdrola", "IBE.MC":"Iberdrola", "IBE.MC":"Iberdrola", 
                'AAPL':"Apple", 'MSFT':"Microsoft", 'GOOG':"Google", "AMZN":"Amazon"}
tickers = dicc_tickers.keys()

def get(tickers, start, end):
    def cotizaciones_de_ticker(ticker):
        return pdr.DataReader(ticker, 'yahoo', start, end)
    cotizaciones_de_todos_tickers = map(cotizaciones_de_ticker, tickers)
    return pd.concat(cotizaciones_de_todos_tickers, keys=tickers, names=['Ticker','Date']) 
all_data = get(tickers, start, end)

# Resetear el índice para que todo sean columnas
just_closing_prices = all_data[['Adj Close']].reset_index()
just_closing_prices[:5]

""" Movimos las fechas a una columna porque ahora queremos pivotar la Fecha como índice 
y mostrar cada valor de Ticker en una columna:
"""
#daily_close_px = just_closing_prices.pivot('Date', 'Ticker', 'Adj Close')daily_close_px = just_closing_prices.pivot('Date', 'Ticker', 'Adj Close')   
cotizaciones = just_closing_prices.pivot_table(values = "Adj Close", index = "Date", columns = "Ticker")
cotizaciones = cotizaciones.rename(columns = dicc_tickers)

cotizaciones[:3]

Ticker,Apple,Amazon,Google,Iberdrola,Microsoft,Renta4,Telefonica,DowJons,S&P500,Ibex35,Nasdaq,Nikkey_225,Eurostoxx50
Date,,,,,,,,,,,,,
2000-01-04,0.788302,81.9375,NaN,1.271112,35.766914,NaN,9.253438,10997.929688,1399.420044,11206.587891,3901.689941,19002.859375,NaN
2000-01-05,0.799837,69.7500,NaN,1.269187,36.144032,NaN,8.821069,11122.650391,1402.109985,10863.088867,3877.540039,18542.550781,NaN
2000-01-06,0.730621,65.5625,NaN,1.269187,34.933285,NaN,8.821069,11253.259766,1403.449951,NaN,3727.129883,18168.269531,NaN